*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container{
    height: auto;
    width: 60%;
    font-family: monospace;
    border-radius: 10px;
    padding: 10px;
     font-size: 40px;
     border: 2px solid lightblue;
}
.container header {
    background-color: #0078FF;
    height: auto;
   width: auto;
   display: flex;
   flex-direction: column;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
   gap: 15px;
   color: white;
   justify-content: center;
}

.container header h1,p{
    display: flex;
    justify-content: center;
    align-items: center;

}
.block{
    height: auto;
    width: auto;
    background: white;
    width: auto;
    margin: 100px;
   box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
  
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;

}

.block ul{
    margin-top:10px ;
    margin-left: 30px;
}
.block p{
    margin-top:10px ;
}
footer{
    width: 100%;
    background-color: #0078FF;
    padding: 10px;
    color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
}